---
import SnsIconList from './ui/sns_icon_list.astro';
---

<section id='profile'>
  <h2 class='text-display-small'>プロフィール</h2>
  <div class='hr'></div>
  <div id='profile_content'>
    <img id='profile_img' src='/images/profile.jpg' alt='プロフィールアイコン' />
    <div id='profile_detail'>
      <div id='profile_top'>
        <p class='text-headline-large'>もっちー</p>
        <SnsIconList size='25px' gap='10px' />
      </div>
      <p class='text-body-large'>
        2001年生まれ。神奈川県横浜市出身、長野県諏訪地域在住。<br />
      </p>
      <p class='text-body-large'>
        好奇心旺盛に、<span class='bold'>プログラミング</span>や<span class='bold'>電子工作</span
        >などの技術に関わることを初めとして、<br /><span class='bold'>音楽</span>や<span
          class='bold'>写真</span
        >、<span class='bold'>動画作成</span>など様々なことにチャレンジしています。
      </p>
      <p class='text-headline-small'>技術に関する興味</p>
      <p class='text-body-large'>
        技術としては、<span class='bold'>サーバサイド</span
        >の開発を主に担当することが多いですが、<span class='bold'
          >ゲーム開発、<br
          />Webフロントエンド、ネイティブアプリ、IoT、機械学習、競技プログラミング</span
        >など、<br />様々な分野に取り組んでいます。
      </p>
      <p class='text-body-large'>
        今までに作成してきたものについては<a href='/work'>Worksのページ</a>を、<br
        />使っている技術については<a href='/skill'>Skillsのページ</a>を参照してください。
      </p>
      <p class='text-headline-small'>その他の興味</p>
      <p class='text-body-large'>
        写真の撮影、動画制作、音楽制作、デザインなどの創作活動にも興味があって、勉強や練習をしながらよりよいモノが創れるように励んでいます。
      </p>
    </div>
  </div>
</section>
<style>
  #profile {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px 10px;

    justify-content: center;
    align-items: center;
  }

  #profile .hr {
    width: 100px;
    border-bottom: 3px solid #79747e;
  }

  #profile h2 {
    font-weight: 300;
  }

  #profile_content {
    display: flex;
    column-gap: 10px;
    padding: 0px 10px;
    align-items: center;
  }

  #profile_img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
  }

  #profile_detail {
    width: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 10px;
  }

  #profile_top {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  #profile_detail .text-body-large span.bold {
    font-weight: bold;
  }

  #profile_detail .text-headline-small {
    padding-top: 15px;
    padding-bottom: -5px;
    /* line-height: 30px; */
  }
</style>
