---
import SkillLevelDescription from '@components/skill/skill_level_description.astro';
import MoreLink from '@components/ui/more_link.astro';
import SectionTitle from '@components/ui/section_title.astro';

import SkillList from './skill_list.astro';
---

<section id='main_skills'>
  <SectionTitle title='主なスキル' />

  <SkillLevelDescription />
  <SkillList />

  <MoreLink link='/skill' />
</section>
<style>
  #main_skills {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    #main_skills {
      row-gap: 2.5vw;
    }
  }
</style>
