---
import Stars from './stars.astro';
---

<div id='skill_level_description'>
  <p class='text-title-medium'>スキルレベル</p>
  <div id='skill_level_container'>
    <div class='skill_level_column'>
      <div class='skill_level_item'>
        <Stars filled_count={5} />
        <p class='text-body-small'>：自信を持って扱うことができる</p>
      </div>
      <div class='skill_level_item'>
        <Stars filled_count={4} />
        <p class='text-body-small'>：ある程度の使用経験がある</p>
      </div>
      <div class='skill_level_item'>
        <Stars filled_count={3} />
        <p class='text-body-small'>：ドキュメントなどを参照しながら開発ができる</p>
      </div>
    </div>
    <div class='skill_level_column'>
      <div class='skill_level_item'>
        <Stars filled_count={2} />
        <p class='text-body-small'>：簡単なプログラムを開発したことがある</p>
      </div>
      <div class='skill_level_item'>
        <Stars filled_count={1} />
        <p class='text-body-small'>：少し学習をしたことがある</p>
      </div>
      <div class='skill_level_item'>
        <Stars filled_count={0} />
        <p class='text-body-small'>：まだしっかり学習したことが無いが気になる</p>
      </div>
    </div>
  </div>
</div>
<style>
  #skill_level_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill_level_column {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .skill_level_item {
    display: flex;
  }
</style>
