---
import mainSkillData from '@public/json/main_skills.json';

import Skill, { type SkillModel } from './skill.astro';

interface Props {
  title?: string;
}

const { title = '' } = Astro.props;

const skills: SkillModel[] = mainSkillData;
---

<div id='skill_list_container'>
  {title != '' && <p class='text-sub-title'>{title}</p>}

  <div id='skill_list'>
    {skills.map((skill) => <Skill skill={skill} />)}
  </div>
</div>
<style>
  #skill_list_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 20px 30px;
    row-gap: 30px;
  }

  #skill_list {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  @media screen and (max-width: 640px) {
    #skill_list_container {
      padding: max(5.12vw, 16px) 0;
      row-gap: max(5.12vw, 16px);
    }

    #skill_list {
      gap: max(3.84vw, 12.28px);
    }
  }
</style>
