---
// import Stars from './stars.astro';

export type SkillModel = {
  name: string;
  grade: number;
  icon: string;
};

// interface Props {
//   skill: SkillModel;
// }

// const { skill } = Astro.props;
---

<div id='skill'>
  <p>aaa</p>
  <!-- <img src={skill.icon} />
  <p>{skill.name}</p>
  <Stars filled_count={skill.grade} /> -->
</div>
