---
import mainSkillData from '@public/json/main_skills.json';

import Skill, { type SkillModel } from './skill.astro';

interface Props {
  title?: string;
}

const { title = '' } = Astro.props;

const skills: SkillModel[] = mainSkillData;
---

<div id='skill_list_container'>
  {title != '' && <p class='text-title-large'>{title}</p>}

  <div id='skill_list'>
    {skills.slice(0, 7).map((skill) => <Skill skill={skill} />)}
  </div>
  <div id='skill_list'>
    {skills.slice(7, 10).map((skill) => <Skill skill={skill} />)}
  </div>
</div>
<style>
  #skill_list_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 20px 10px;
    row-gap: 20px;
  }

  #skill_list {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    width: 100%;
  }
</style>
