---
import Stars from './stars.astro';

export type SkillModel = {
  name: string;
  grade: number;
  icon: string;
};

interface Props {
  skill: SkillModel;
}

const { skill } = Astro.props;
---

<div id='skill'>
  <img src={skill.icon} />
  <div id='skill_content'>
    <p class='text-description'>{skill.name}</p>
    <Stars filled_count={skill.grade} />
  </div>
</div>
<style>
  #skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  #skill img {
    width: auto;
    height: 70px;
  }

  #skill_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #skill_content p {
    width: fit-content;
    margin-bottom: -4px;
  }

  @media screen and (max-width: 600px) {
    #skill {
      row-gap: 1.28vw;
    }

    #skill img {
      width: auto;
      height: 12.82vw;
    }

    #skill_content p {
      width: fit-content;
      margin-bottom: -1vw;
    }
  }
</style>
