---
interface Props {
  filled_count: number;
}

const { filled_count } = Astro.props;
const dummyArray = [0, 0, 0, 0, 0];
---

<div id='stars'>
  {
    dummyArray.map((_, index) =>
      index >= filled_count ? (
        <img src='/images/star_blank.svg' />
      ) : (
        <img src='/images/star_fill.svg' />
      ),
    )
  }
</div>
<style>
  img {
    height: var(--description);
    width: auto;
    margin-left: -2px;
  }

  #stars {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    img {
      margin-left: -0.51vw;
    }
  }
</style>
