:root {
  --display-large: 50px;
  --display-small: 30px;
  --title: 30px;
  --sub-title: 27px;
  --body: 20px;
  --description: 17px;
  --detail: 12px;

  --primary: #f3af00;
  --text: #000000;
  --text-inverse: #ffffff;
  --bg: #ffffff;
  --bg-sub: #ebebeb;
  --border: #868686;
}

@media screen and (max-width: 600px) {
  :root {
    --display-large: max(8.2vw, 26.24px);
    --display-small: max(6.15vw, 19.68px);
    --title: max(5.12vw, 16px);
    --sub-title: max(4.61vw, 14.75px);
    --body: max(4.1vw, 13.12px);
    --description: max(3.59vw, 11.48px);
    --detail: max(2.56vw, 8.19pxpx);
  }
}

.text-display-large {
  font-size: var(--display-large);
  font-weight: bold;
}

.text-display-small {
  font-size: var(--display-small);
  font-weight: bold;
}

.text-title {
  font-size: var(--title);
  font-weight: bold;
}

.text-sub-title {
  font-size: var(--sub-title);
}

.text-body {
  font-size: var(--body);
}

.text-description {
  font-size: var(--description);
}

.text-detail {
  font-size: var(--detail);
}
