---
interface Props {
  title?: string;
}

const { title = 'もっちー / mochi-yu' } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <!-- 
　     　(::ﾟ:)
　     （＿＿）　　　ﾓﾁｰ
  ＼（　･∀･ ）／
  　[二二二二]
    |　  　○　  　|
    |_| ￣ |_|
    -->

    <!-- ▼▼▼ Google tag (gtag.js) ▼▼▼ -->
    <script is:inline async src='https://www.googletagmanager.com/gtag/js?id=G-TXBGDG4HDJ'></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // eslint-disable-next-line no-undef
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-TXBGDG4HDJ');
    </script>
    <!-- ▲▲▲▲▲▲ -->

    <meta charset='UTF-8' />
    <meta name='description' content='もっちーのポートフォリオサイトです。' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='stylesheet' href='/styles/variables.css' />
    <link rel='stylesheet' href='/styles/reset.min.css' />
  </head>
  <body>
    <slot />
    <style>
      html {
        min-width: 1200px;
      }
      @media screen and (max-width: 600px) {
        html {
          min-width: 320px;
        }
      }
    </style>
  </body>
</html>
