---
import HtmlBaseLayout from './HtmlBaseLayout.astro';
import Header from '../components/ui/header.astro';

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<HtmlBaseLayout title={title}>
  <Header />
  <p class:list={['text-display-large']}>ほげほげ</p>
</HtmlBaseLayout>
