---
import Layout from '@layouts/Layout.astro';
---

<Layout title='ページが見つかりません | もちポートフォリオ'>
  <main id='404page'>
    <p class='text-body'>このページは存在しないか、現在制作中です。</p>
  </main>
</Layout>
<style>
  main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
