---
import KeyVisual from '@components/keyVisual/key_visual.astro';
import MainProduct from '@components/product/main_product.astro';
import Profile from '@components/profile.astro';
import MainSkills from '@components/skill/main_skills.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='もちポートフォリオ'>
  <main id='index_page'>
    <KeyVisual />
    <div id='content'>
      <Profile />
      <MainProduct />
      <MainSkills />
    </div>
  </main>
</Layout>
<style>
  #content {
    padding: 40px 20px 80px 20px;
    max-width: 1200px;
    margin: 0px auto;
  }

  @media screen and (max-width: 600px) {
    #content {
      width: 100%;
    }
  }
</style>
