---
import KeyVisual from '@components/keyVisual/key_visual.astro';
import MainProduct from '@components/product/main_product.astro';
import Profile from '@components/profile/profile.astro';
import MainSkills from '@components/skill/main_skills.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='もちポートフォリオ'>
  <main id='index_page'>
    <KeyVisual />
    <div id='content'>
      <Profile />
      <MainProduct />
      <MainSkills />
    </div>
  </main>
</Layout>
<style>
  #content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    padding: 40px 20px 80px 20px;
    max-width: 1200px;
    margin: 0px auto;
  }

  @media screen and (max-width: 600px) {
    #content {
      row-gap: 8vw;
      padding: 10.25vw 5.12vw 20.51vw 5.12vw;
      margin: 0px auto;
      width: 100%;
    }
  }
</style>
