---
import KeyVisual from '@components/keyVisual/key_visual.astro';
import MainProduct from '@components/product/main_product.astro';
import Profile from '@components/profile.astro';
import MainSkills from '@components/skill/main_skills.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='もちポートフォリオ'>
  <main id='index_page'>
    <KeyVisual />
    <Profile />
    <MainProduct />
    <MainSkills />
  </main>
</Layout>
