---

---

<footer id='footer'>
  <p class='text-label-medium'>©2023 - 2024　mochi-yu</p>
</footer>
<style>
  #footer {
    display: flex;
    justify-content: center;
    background-color: #8e8e8e;
  }

  #footer p {
    margin: 25px 0px;
    color: white;
  }
</style>
