---

---

<header id='header'>
  <a href='/'>
    <p class='text-headline-medium'>もっちー / mochi-yu</p>
  </a>

  <div id='header-menu-container'>
    <a href='/about'>
      <p class='text-body-large'>About</p>
    </a>
    <a href='/product'>
      <p class='text-body-large'>Product</p>
    </a>
    <a href='/skill'>
      <p class='text-body-large'>Skill</p>
    </a>
    <a href='/hobby'>
      <p class='text-body-large'>Hobby</p>
    </a>
    <a href='/contact'>
      <p class='text-body-large'>Contact</p>
    </a>
  </div>
</header>
<style>
  #header {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid;
    box-shadow: 0px 4px 4px rgba(00, 00, 00, 0.25);

    background-color: white;
  }

  #header a {
    text-decoration: none;
    color: black;
  }

  #header #header-menu-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
</style>
