---

---

<!-- TODO -->
<header id='header'>
  <a href='/'>
    <p class='text-display-small'>もっちー / mochi-yu</p>
  </a>

  <div id='header-menu-container'>
    <a href='/about'>
      <p class='text-body'>About</p>
    </a>
    <a href='/product'>
      <p class='text-body'>Product</p>
    </a>
    <a href='/skill'>
      <p class='text-body'>Skill</p>
    </a>
    <a href='/hobby'>
      <p class='text-body'>Hobby</p>
    </a>
    <a href='/contact'>
      <p class='text-body'>Contact</p>
    </a>
  </div>
</header>
<style>
  #header {
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid;
    box-shadow: 0px 4px 4px rgba(00, 00, 00, 0.25);

    background-color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #header-menu-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    #header {
      padding: max(5.12vw, 16px) max(7.69vw, 24.6px);
      justify-content: center;
      border-bottom: max(0.77vw, 2.5px) solid;
    }

    #header-menu-container {
      display: none;
    }
  }
</style>
