---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div id='section-title'>
  <h2 class='text-title'>{title}</h2>
  <div id='hr'></div>
</div>
<style>
  #section-title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }

  #hr {
    width: 100px;
    border-bottom: 3px solid var(--border);
  }

  @media screen and (max-width: 640px) {
    #section-title {
      display: flex;
      flex-direction: column;
      row-gap: max(2.5vw, 8px);
      align-items: center;
    }

    #hr {
      width: max(18vw, 57.6px);
    }
  }
</style>
