---
interface Props {
  size?: string;
  gap?: string;
  sizeVW?: string;
  gapVW?: string;
}

const {
  size = '40px',
  gap = '30px',
  sizeVW = 'max(7.69vw, 24.61px)',
  gapVW = 'max(3.84vw, 12.28px)',
} = Astro.props;
---

<div id='sns_icon_list'>
  <a href='https://github.com/mochi-yu'>
    <img src='/images/icons/github.svg' alt='GitHubのアイコン' />
  </a>
  <a href='https://qiita.com/mochi_2225'>
    <img src='/images/icons/qiita.png' alt='Qiitaのアイコン' />
  </a>
</div>
<style define:vars={{ size: size, gap: gap, sizeVW: sizeVW, gapVW: gapVW }}>
  #sns_icon_list {
    width: fit-content;
    display: flex;
    column-gap: var(--gap);
  }

  #sns_icon_list > a {
    width: var(--size);
  }

  @media screen and (max-width: 640px) {
    #sns_icon_list {
      column-gap: var(--gapVW);
    }

    #sns_icon_list > a {
      width: var(--sizeVW);
    }
  }
</style>
