---
interface Props {
  size?: string;
  padding?: string;
}

const { size = '40px', padding = '30px' } = Astro.props;
---

<div id='sns_icon_list'>
  <a href='https://github.com/mochi-yu'>
    <img src='/images/github.svg' alt='GitHubのアイコン' />
  </a>
  <a href='https://qiita.com/mochi_2225'>
    <img src='/images/qiita.png' alt='Qiitaのアイコン' />
  </a>
</div>
<style define:vars={{ size: size, padding: padding }}>
  #sns_icon_list {
    width: fit-content;
    display: flex;
    column-gap: var(--padding);
  }

  #sns_icon_list > a {
    width: var(--size);
  }
</style>
