---
import MoreLink from '@components/ui/more_link.astro';
import SectionTitle from '@components/ui/section_title.astro';
import mainProductData from '@public/json/main_product.json';

import ProductCard, { type Product } from './product_card.astro';

const products: Product[] = mainProductData;
---

<section id='main_product'>
  <SectionTitle title='主な制作物' />
  <div id='main_product_content'>
    {
      products.map((product) => {
        return <ProductCard product={product} />;
      })
    }
  </div>
  <MoreLink link='/product' />
</section>
<style>
  #main_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  #main_product_content {
    display: flex;
    column-gap: 30px;
    padding: 30px;
  }

  @media screen and (max-width: 640px) {
    #main_product {
      row-gap: max(2.56vw, 8.19px);
    }

    #main_product_content {
      flex-direction: column;
      gap: max(3.84vw, 12.28px);
      padding: max(3.84vw, 12.28px);
    }
  }
</style>
